<h2>Busquedas</h2>
<hr>
<ul class="list-group">
    <!--agregar el [routerLinkActiveOptions] si tenemos una ruta vacia -->
    <!--Recordadar importar el RouterModule, en el shared.module-->
    <li 
        routerLink="" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="list-group-item"
        >Buscar país</li>
    
    <li 
        routerLink="region"
        routerLinkActive="active" 
        class="list-group-item"
        >Por region</li>
    
    <!--el router.module nos importa el router.link-->
    <li routerLink="capital"
        routerLinkActive="active"
        class="list-group-item"
    > 
    Por capítal
    </li>
</ul>
